
<div class="container">
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="/inicio">BitFest</a>
    </div>
    <div class="navbar-links">
      <a href="/eventos">Eventos</a>
      <a href="/organizadores">Organizadores</a>
      <a href="/creareventos">Crear eventos</a>
      <a href="/perfil">Perfil</a>
    </div>
  </nav>


<div class="container" *ngIf="organizador$ | async as organizador">
    <h1>{{organizador.nombre}}</h1>
    <p>{{organizador.descripcion}}</p>
    <button (click)="visualizarEventos()">Visualizar eventos</button>
  </div>
  