
<div class="container">
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="/inicio">BitFest</a>
    </div>
    <div class="navbar-links">
      <a href="/eventos">Eventos</a>
      <a href="/organizadores">Organizadores</a>
      <a href="/creareventos">Crear eventos</a>
      <a href="/perfil">Perfil</a>
    </div>
  </nav>


<div class="container" *ngIf="usuario$ | async as usuario">
    <h1>Perfil de {{usuario.nombre}}</h1>
    <img [src]="usuario.fotoPerfil" alt="Foto de perfil de {{usuario.nombre}}">
    <p>Correo: {{usuario.correo}}</p>
    <p>Fecha de registro: {{usuario.fechaRegistro}}</p>
    <button (click)="modificarDatos()">Modificar datos</button>
    <button (click)="eliminarPerfil()">Eliminar perfil</button>
  </div>
  