
<div class="container">
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="/inicio">BitFest</a>
    </div>
    <div class="navbar-links">
      <a href="/eventos">Eventos</a>
      <a href="/organizadores">Organizadores</a>
      <a href="/creareventos">Crear eventos</a>
      <a href="/perfil">Perfil</a>
    </div>
  </nav>


<div class="container">
    <h1>Organizadores</h1>
    <input [(ngModel)]="filtro" placeholder="Buscar por organizador" (input)="filtrarOrganizadores()">
    <div *ngFor="let organizador of organizadores$ | async">
      <h2>{{organizador.nombre}}</h2>
      <p>{{organizador.descripcion}}</p>
    </div>
  </div>
  