
<div class="container">
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="/inicio">BitFest</a>
    </div>
    <div class="navbar-links">
      <a href="/eventos">Eventos</a>
      <a href="/organizadores">Organizadores</a>
      <a href="/creareventos">Crear eventos</a>
      <a href="/perfil">Perfil</a>
    </div>
  </nav>


<div class="container">
    <h1>EA FC 24 TORNEO ENTRE HERETICS Y KOI</h1>
    <p>Furbo señores</p>
    <p>Fecha de actualización: 2025-05-05</p>
    <p>Fecha de realización: 2024-05-05</p>
    <div class="comentarios">
      <h2>Comentarios</h2>
      <div *ngFor="let comentario of comentarios$ | async">
        <p>Que guay, todo genial y muy profesional!</p>
      </div>
      <input [(ngModel)]="nuevoComentario" placeholder="Escribe un comentario...">
      <button (click)="agregarComentario()">Agregar comentario</button>
    </div>
  </div>
  