<body>
  <div class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        <a href="/inicio">BitFest</a>
      </div>
      <div class="navbar-links">
        <a href="/eventos">Eventos</a>
        <a href="/organizadores">Organizadores</a>
        <a href="/creareventos">Crear eventos</a>
        <a href="/perfil">Perfil</a>
      </div>
    </nav>

    <main>
      <h1>Bienvenido a la página de inicio</h1>
      <div class="eventos">
        <h2>Próximos eventos de videojuegos</h2>
        <div *ngFor="let evento of eventos$ | async" class="evento">
          <h3>{{evento.nombre}}</h3>
          <p>{{evento.descripcion}}</p>
          <button (click)="verEvento(evento.id)">Ver detalles del evento</button>
        </div>
      </div>
    </main>
  </div>
</body>