<div class="background">
    <div class="container">
        <h1>Registro</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Nombre completo:</label>
                <input type="text" class="form-control" id="name" formControlName="name" required>
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico:</label>
                <input type="email" class="form-control" id="email" formControlName="email" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" class="form-control" id="password" formControlName="password" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirmar contraseña:</label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>
</div>
